body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  margin: 100px auto 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #66BFBF;
}

.bottom-info {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  text-align: center;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-me {
  padding-bottom: 50px;
}

.touch {
  margin: 30px auto;
}

.touch2 {
  width: 40%;
  margin: 40px auto 60px;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  width: 6%;
  border: none;
  border-top: 10px dotted #EAF6F6;
  margin: 100px auto;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.personal-introduction {
  width: 30%;
  margin: auto auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skills-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cooking-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 30px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
